*,*::before,*::after{
    box-sizing: border-box;
    user-select: none;
}

body{
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/sky.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
.world{
    
    position: relative;
    /* width: 100%;
    height: 200px;
     */
    
}
.score{
    position: absolute;
    right: 2vmin;
    top: 1vmin;
    font-size: 3vmin;
    background-color: chartreuse;
    border-radius: 10px;
}

.start-screen{
    position: absolute;
    font-size: 5vmin;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: chartreuse;
    border-radius: 10px;
}
.hide{
    display: none;
}
.ground{
    --left:0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left)*1%);
    top:70%;
}
.pig{
    --bottom:0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom)*1%);
}
.cactus{
   
    position: absolute;
    left: calc(var(--left) * 1%);
    top:75%;
    height: 25%;
    bottom:0;
}
